@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --broedtekst:Roboto; 
}

.list h3 {
    color: #f7a414;
    font-family: var(--broedtekst);
    text-transform: uppercase;
}

/* ---------- grid container styling ---------- */
.bgList {
  height: 100vh;
  padding: 1rem;
}

/*Indhold container*/
.container {
  background-color: whitesmoke;
  max-width: 390px;
  margin: auto;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

/*Overskrift*/
.heading {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  margin-left: 0;
}

/*Form styling*/
.form {
  display: flex;
  justify-content: space-between;
}

.input {
  border: solid #f7a414;
  padding: 1rem;
  font-size: 1rem;
}

/*Add item button*/
.btnList {
  background: none;
  border: solid #f7a414;
  font-size: 1rem;
  padding: 1rem;
  color: whitesmoke;
  background-color: #f7a414;
}

/*Counter styling*/
.count {
  text-align: center;
  padding: 1rem;
}

.listStyle {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  text-transform: capitalize;
  border-radius: 10px;
  border: solid #f7a414;
}

.listDone {
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  text-transform: capitalize;
  border-radius: 10px;
  border: solid #f7a414;
}

.row {
  display: flex;
}

.textList {
  margin-left: 1rem;
  cursor: pointer;
  font-weight: bold;
  color: black;
}

/*Styling for completed item*/
.textListComplete {
  margin-left: 1rem;
  cursor: pointer;
  text-decoration: line-through;
  text-decoration-thickness: 2.5px;
  font-weight: bold;
}

.container > ul {
  padding: 0;
}

.check {
  display: none;  
}

/*Delete button*/
button {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 1rem;
  color: black;
}

